<main>
  <div>
    <h2>{{this.address}}</h2>
    <h2><time datetime={{this.datetime}}>{{this.time}}
        {{this.dayOfWeek}}
        {{this.month}}
        {{this.day}}</time></h2>
  </div>

</main>