<li
  class='flex flex-col whitespace-nowrap rounded justify-center items-center w-max bg-gray-3 p-2 m-2 text-blue-1'
>
  <time class='w-full text-center mb-2' datetime={{this.time.datetime}}>{{this.time.hour}}
    {{this.time.amPm}}</time>
  <img
    src={{this.icon.src}}
    alt={{this.icon.alt}}
    class='w-16 h-16 max-w-[4rem] max-h-[4rem] min-w-[4rem] min-h-[4rem]'
  />
</li>