<section class='w-full mt-4'>
  {{#if this.showWeek}}
    <ul class='border-y-2 border-y-blue-1 bg-gray-2 flex overflow-x-auto custom-scrollbar'>
      {{#each this.weekly as |day|}}
        <Weather::Day @day={{day}} />
      {{/each}}
    </ul>
  {{/if}}
  <div class='w-full flex justify-center'>
    <button
      type='button'
      class='flex flex-col justify-center items-center text-orange-1 text-center'
      {{on 'click' this.toggleShowWeek}}
    >
      {{#if this.showWeek}}
        <img
          src='/assets/icons/chevron.svg'
          alt={{this.chevronDirection.alt}}
          class='w-4 h-4 max-w-[1rem] max-h-[1rem] min-w-[1rem] min-h-[1rem]'
          style={{this.chevronDirection.rotate}}
        />
      {{/if}}
      <p>6 Day Outlook</p>
      {{#unless this.showWeek}}
        <img
          src='/assets/icons/chevron.svg'
          alt={{this.chevronDirection.alt}}
          class='w-4 h-4 max-w-[1rem] max-h-[1rem] min-w-[1rem] min-h-[1rem]'
          style={{this.chevronDirection.rotate}}
        />
      {{/unless}}
    </button>
  </div>
</section>